@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf') format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf') format("woff2");
    font-weight: normal;
}

.dateLayout_wrapper {
    display: flex;
    justify-content: center;
}

.dateLayout {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    height: 36px;
    flex-shrink: 0;
    gap: 28px;
}

.cellButton {
    background: var(--light-button-muted-background, #F2F3F5);
    color: rgba(121, 170, 218, 1);
    border-radius: 8px;
}

.cellButtonIcon {
    display: flex;
    height: 36px;
    padding: 0px 20px;
}

.textLayout {
    min-width: 173px;
    color: #79AADA;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Montserrat-Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.38px;
}

.text-chooseEmotion_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-chooseEmotion {
    color: #79AADA;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Montserrat-Medium";
    /* font-size: 24px; */
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.38px;
}



.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* width: 51px;
    height: 51px; */
}

.cell_img {
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.cell_img20 {
    background-image: url("../img/Frame20.svg");
}

.cell_img21 {
    background-image: url("../img/Frame21.svg");
}

.cell_img22 {
    background-image: url("../img/Frame22.svg");
}

.cell_img23 {
    background-image: url("../img/Frame23.svg");
}

.cell_img24 {
    background-image: url("../img/Frame24.svg");
}

.emotionText {
    font-family: 'Montserrat-SemiBold';
}

.emotionText20 {
    /* width: 62px; */
    color: #FDCD71;
    
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.38px;
}

.emotionText24 {
    /* width: 62px; */
    /* height: 20px; */
    flex-shrink: 0;
    color: #FD6B6B;
    
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.38px;
}

.emotionText21 {
    /* width: 62px;
    flex-shrink: 0; */
    color: #86C3FC;
    
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.38px;
}

.emotionText22 {
    /* width: 62px; */
    /* flex-shrink: 1; */
    color: #D680F4;
    
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.38px;
}

/* .emotionText22:active {
    transform: scale(1.3);
} */

.emotionText23 {
    /* width: 62px;
    flex-shrink: 0; */
    color: #6FE47B;
    
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.38px;
}

.cell20 {
    width: 62px;
}



/* 
.cell23 {
    width: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

@media (max-width: 450px) {
    .cell_img {
        width: 45px;
        height: 45px;
        font-size: 12px;
    }
}

@media (max-width: 405px) {
    .cell_img {
        width: 40px;
        height: 40px;
    }

}

@media (max-width: 390px) {
    .cell_img {
        width: 35px;
        height: 35px;
    }

    .emotionText {
        font-size: 12px;
    }   

    .calendar {
        width: 200px;
        height: 366px;
    }
}

@media (max-width: 355px) {
    .emotionText {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    .cell_img {
        width: 30px;
        height: 30px;
    }

    .emotionText {
        font-size: 9px;
    }
}