.loadpage__panel {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FBE9D6;
    height: 713px;
}

.loadpage__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBE9D6;
}

.loadpage__header {
    color: #206074;
    font-family: "Poppins-Regular";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.loadpage__logo {
    width: 121px;
    height: 121px;
    flex-shrink: 0;
    margin: 0 auto;
}
