.mainpage__panelheader {
    /* display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; */
    text-align: center;
    margin-top: 51px;
}

.mainpage__content {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.mainpage__header {
    margin: 0 auto;
}